{{ form_start(form) }}
<a href="{{ path('add_bookmark') }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">{{ button_label|default('Mettre en favoris') }}</a>
{{ form_end(form) }}
