{% extends 'admin/base.html.twig' %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block body %}
    <div class="mb-4">
        <a class="text-decoration-none text-white" href="{{ path('user_index') }}">
            <i class="fa-solid fa-arrow-turn-up fa-rotate-270 text-secondary"></i> Liste des utilisateurs</a>
    </div>
    <h1>Modifier l'utilisateur</h1>

    {{ include('admin/user/_form.html.twig', {'button_label': 'Sauvegarder'}) }}



    {{ include('admin/user/_delete_form.html.twig') }}
{% endblock %}
