<div class="genre">
    <div class="container-fluid">
        <h2>Genres</h2>
        <div class="row">
            {% for genreWithImage in genresWithImages %}
                <div class="col-lg-4 col-md-6">

                    <div class="atropos desAtropos genre-box genreAtropos">
                        <!-- scale container (required) -->

                        <div class="atropos-scale"
                             style="transform: translate3d(0px, 0px, 0px); transition-duration: 300ms;">
                            <!-- rotate container (required) -->

                            <div class="atropos-rotate"
                                 style="transition-duration: 300ms; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg);">
                                <!-- inner container (required) -->

                                <div class="atropos-inner">
                                    <!-- put your custom content here -->
                                    <div class="genre-box-bg" data-atropos-offset="0"
                                         style="transition-duration: 300ms; transform: translate3d(0px, 0px, 0px);">
                                        <img src="/uploads/{{  genreWithImage.images[0]['background'] }}"
                                             data-atropos-offset="0"
                                             alt="genre background">
                                    </div>
                                    <!--
                                    Element with no offset will not move
                                    -->
                                    <img class="genre-box-character"
                                         src="/uploads/{{  genreWithImage.images[0]['character'] }}"
                                         data-atropos-offset="15"
                                         style="transition-duration: 300ms; transform: translate3d(0px, 0px, 0px);" alt="genre character"/>
                                    <!--
                                    Element with positive offset will move in same direction,
                                    making it appear in front of the scene
                                    -->
                                    <img class="genre-box-text" src="/uploads/{{  genreWithImage.images[0]['text'] }}"
                                         data-atropos-offset="15"
                                         style="transition-duration: 300ms; transform: translate3d(0px, 0px, 0px);" alt="genre text"/>
                                    <span class="atropos-highlight"
                                          style="transform: translate3d(0px, 0px, 0px); transition-duration: 300ms; opacity: 0;"></span>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('atropos') }}
{% endblock %}
