<div class="container-fluid mt-4 p-4">
    <!-- Swiper -->
    <section>
        <h2 class="mt-4 p-4">Recommandation</h2>
            <div class="swiper mySwiper_recommandation mb-5">
                <div class="swiper-wrapper position-relative">
                    {% for video in videosRec %}
                            <div class="swiper-slide card border-0 bg-transparent text-white">
                                    {{ include('_includes/_videoRepeatedCode.html.twig') }}
                                <h3 class="videoTitle">{{ video.title }}</h3>
                            </div>
                    {% endfor %}
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
    </section>
</div>
