<div class="col-lg-4 col-md-6 d-flex justify-content-center">
    <div class="card mt-2 mb-2 card bg-transparent text-white border-0" style="width: 100%;">
        <div class="video-container position-relative" data-bs-target="#myModal{{ video.id}}" data-bs-toggle="modal">
            {{ include('_includes/_videoRepeatedCode.html.twig') }}
        </div>
        <div class="card-body">
            <h3 class="card-title">{{ video.title }}</h3>
        </div>
    </div>
</div>
