<nav class="navbar flex-column-md navbar-dark bg-dark mt-auto w-100">
	<div class="container-fluid justify-content-around align-items-center">

		<div class="d-flex justify-content-center">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="https://www.termsandconditionsgenerator.com/live.php?token=2e4CGVQMdWph0nZLB58pebLXtM8KPWAU">Terms and conditions / 2023</a>
				</li>
			</ul>
		</div>

		<ul class="navbar-nav justify-content-center flex-row justify-content-md-around">
			<li class="nav-item">
				<a href="mailto:contact@origins-digital.com" class="nav-link p-4">
					<i class="fa-solid fa-envelope" style="color: #ffffff;"></i>
				</a>
			</li>
			<li class="nav-item">
				<a href="https://www.linkedin.com/company/origins-digital-emg/?originalSubdomain=fr" class="nav-link p-4">
					<i class="fa-brands fa-linkedin" style="color: #ffffff;"></i>
				</a>
			</li>
			<li class="nav-item">
				<a href="https://github.com/netcosports" class="nav-link p-4">
					<i class="fa-brands fa-github" style="color: #ffffff;"></i>
				</a>
			</li>
		</ul>

		<div class="d-flex justify-content-center">
			<a href="#" class="navbar-nav nav-link">FAQ</a>
		</div>
	</div>
</nav>
