{% extends 'admin/base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

        <h1 class="mb-4 text-center">Administration</h1>
        <h2>Bonjour {{ app.user.fullName }}</h2>
        <div class="container test">
            <p>
                En tant qu'administrateur de ce site, vous êtes au bon endroit pour
                personnaliser votre site selon vos préférences. <br>
                Ici, vous avez le pouvoir d'ajuster et de modifier chaque aspect de votre site selon vos souhaits. <br>
                Profitez de cette opportunité pour créer une expérience unique et captivante pour vos visiteurs.
            </p>
        </div>


{% endblock %}
