{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid video">
        <video
            id="my-player"
            class="video-js"
            controls
            preload="auto"
            data-setup='{}'>
            <source src="/uploads/dance_minecraft.mp4" type="video/mp4"/>
        </video>
    </div>

    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('video') }}
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('video') }}
    {% endblock %}
{% endblock %}

