.videoPlayer{
    height: 34rem;
    width: 100%;
    aspect-ratio: 16/9;
}

.videoPlayerHome{
    height: 15rem;
    width: 95%;
}

.videoPlayerMostViewed{
    height: 30rem;
    width: 100%;
}

.recommandationVideo , .tendanceVideo {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.swiper-slide-recommendation {
    margin-left: 1.3rem;
}

.modal {
    color: black;
}

.card {
    max-width: 30em;
}

.card-title {
    color: white;
}

.video-container {
    width: 100%;
}

.swiper {
    margin-bottom: 3rem;
}

.card h3 {
    font-size: 1.5rem;
}

.vjs-poster img,
.vjs-tech {
    object-fit: cover;
}

.btn-search {
    background-color: #FF6608;
    color: white;
    border-color: #FF6608;
}

.btn-outline-primary{
    color: white;
    border-color: #FF6608;
}

.lock {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color : #FF6608;
}

.img-tendance {
    opacity: 25%;
}

.swiper-slide,  .mostWatchedRightContainer img, .video-container img {
    cursor: pointer;
}
