.videoPlayer{
    height: 35rem;
    width: 90%;
}

.videoPlayerHome{
    height: 15rem;
    width: 100%;
}

.testVideo {
    margin-top: 1.5rem;
    margin-bottom: 5rem;
}

.swiper-slide {
    margin-left: 1.3rem;
}

