.videoPlayer{
    height: auto;
    width: 80%;
    aspect-ratio: 16/9;
}

.videoPlayerHome{
    height: 15rem;
    width: 100%;
}

.recommandationVideo {
    margin-top: 1.5rem;
    margin-bottom: 5rem;
}

.swiper-slide {
    margin-left: 1.3rem;
}

