@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@300&display=swap');
@import "_variables.scss";
@import "bootstrap/scss/bootstrap";
@import "navbarStyles.scss";
@import "category.scss";
@import "genre.scss";
@import 'atropos/atropos.scss';
@import "favoris";
@import "knp_paginator";

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.bg {
    background: $my-gradient;
}

.bg-gradient-reversed {
    background: $my-gradient-reversed;
}

.h1 {
    font-family: 'Montserra', sans-serif;
}
