
<aside class="col-3 border border-light bg-white p-2">
    <article class="card mb-3">
        <div class="hearder">
            Utilisateurs
        </div>
        <div class="card-body">
            <p><a href="#">Liste des Utilisateurs</a></p>

        </div>
    </article>

    <article class="card mb-3">
        <div class="hearder">
            Genres
        </div>
        <div class="card-body">
            <p><a href="#">Liste des genres</a></p>
            <p><a href="#">Ajouter un genre</a></p>
        </div>
    </article>

    <article class="card mb-3">
        <div class="hearder">
            Catégories
        </div>
        <div class="card-body">
            <p><a href="{{ path('app_categories') }}">Liste des catégories</a></p>
            <p><a href="#">Ajouter une catégorie</a></p>
        </div>
    </article>

    <article class="card mb-3">
        <div class="hearder">
            Vidéos
        </div>
        <div class="card-body">
            <p><a href="{{ path('app_admin_video_index') }}">Liste des vidéos</a></p>
            <p><a href="{{ path('app_admin_video_new') }}">Ajouter une vidéo</a></p>
        </div>
    </article>

    <article class="card mb-3">
        <div class="hearder">
            Carousels
        </div>
        <div class="card-body">
            <p><a href="#">Liste des carousels</a></p>
            <p><a href="#">Ajouter un carousel</a></p>
        </div>
    </article>

    <article class="card mb-3">
        <div class="hearder">
            Publicités
        </div>
        <div class="card-body">
            <p><a href="#">Liste des publicités</a></p>
            <p><a href="#">Ajouter une publicité</a></p>
        </div>
    </article>
</aside>
