<div{{ attributes }} class="position-relative ms-sm-1 mb-sm-0 z-2">
        <button
            data-action="live#action"
            data-action-name="toggleBookmark"
            class="btn btn-{{ this.isBookmarked ? 'info' : 'light' }} text-secondary btn-sm shadow-sm LF">
            {% if this.isBookmarked %}
                Supprimer des favoris <i class="fas fa-star text-white"></i>
            {% else %}
                Ajouter aux favoris <i class="far fa-star text-info"></i>
            {% endif %}
        </button>
</div>

