<div{{ attributes }} class="position-relative mb-2 ms-sm-1 mb-sm-0 z-2">
        <button
            data-action="live#action"
            data-action-name="toggleDontLike"
            class="btn btn-sm shadow-sm {{ this.isNotLiked ? 'dontLikeToggled' : 'dontLikeNotToggled' }}">
            J'aime pas
            {% if this.isNotLiked %}
                 <i class="fa-solid fa-heart-crack text-warning" ></i>
            {% endif %}
        </button>

        <button
            data-action="live#action"
            data-action-name="toggleLike"
            class="btn btn-sm shadow-sm {{ this.isLiked ? 'likeButtonToggled' : 'likeButtonNotToggled' }}">
            J'aime
            {% if this.isLiked %}
                 <i class="fa-solid fa-heart text-warning"></i>
            {% endif %}
        </button>
</div>
